.profileContainer {
    background-color: blueviolet;
    padding-bottom: 40px;
    padding-top: 10px;
}

.profilePicture {
    margin-top: 50px;
    margin-left: 50px;
}

input {
    font-size: 15px;
    font: bold;
    color: gray;
    padding: 5px;
}

#nameBox {
    margin-top: 10px;
    margin-left: 50px;
    width: 300px;
    background-color: yellow;
    padding: 4px 8px;
    font-size: 25px;
    font: bold;
    display: flex;
    align-items: center;
}


#emailBox {
    margin-top: 10px;
    margin-left: 50px;
    width: 300px;
    background-color: orange;
    padding: 4px 8px;
    font-size: 25px;
    font: bold;
}
#gitBox {
    margin-top: 10px;
    margin-left: 50px;
    width: 300px;
    background-color: blue;
    padding: 4px 8px;
    font-size: 25px;
    font: bold;
}

#profileImage {
    width: 400px;
    height: 400px;
    background-color: red;
}

.personalIntro {
    width: 800px;
    height: 200px;
    background-color: yellow;
    margin-top: 50px;
}

.enterIntro {
    width: 750px;
    height: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.introSpan {
    margin-left: 20px;
}